<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<!--    <a href="/query/8C5AC1">MAC-address</a>-->


    <div align="center">
        <h1>MAC地址所属厂家查询</h1>
        <h3>请输入MAC地址:</h3>
        <form action="/query" method="post">
            <input type="text"  name="macaddr"/>
            <input type="submit" value="查询"/>
        </form>

        <p>所属厂家:</p>
        <p th:text="${manu}">manu</p>
    </div>
</body>
</html>